
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div style="float: left; margin-top: 7%; margin-left: 5%;">

<h1>Listening Is Everything</h1>
<br/><br/><br/><br/><br/>

<h1>New Release...</h1>

<br/><br/>
<li><h3>Perfect--Edsheeran</h3></li>
<li><h3>Something Just Like This--Chainsmokers and ColdPlay</h3></li>

</div>


<div style="float: right; margin-top: 10%; margin-right: 5%;">
<center><img src="media/2.jpg" style="display:block" height="370"/></center>
</div>


{% endblock %}