{% extends 'base.html' %}
{% load static %}


{% block content %}

{% for item in page_obj %}
<div class="music-player">
  
 <div class="cover">
  <img alt="" src="{{item.image.url}}" width="320", height="320"/>
 </div>
 <div class="titre">
  <h3>
   {{item.artist}}
  </h3>
  <h1>
   {{item.title}}
  </h1>
 </div>
 <center><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"><i class="fa fa-step-forward fa-2x"></i></a></center>
 <div class="lecteur">
  <audio class="fc-media" style="width: 100%;">
   <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3"/>
  </audio>
 </div>
</div>
<div class="scroll-box" style="background-color: pink; padding: 16px; height: 550px; width: 500px; float: right; margin-right: 20%; margin-top: 6%;overflow: scroll;">
  <p>{{ item.lyrics|linebreaks }}</p>
</div>
{% endfor %}

{% endblock %}